/*Global box-sizing fix (chapter 3)*/
:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}


/*Sets green background color and sans-serif font for the page*/
body {
    background-color: #709b90;
    font-family: Helvetica, Arial, sans-serif;
}

/*Global margins (chapter 3)*/
body * + * {
    margin-top: 1.5em;
}

/* Double container to center page contents (chapter 4) */
.container {
    max-width: 1080px;
    margin: 0 auto;
}

.site-nav {
    /*Makes site-nav the flex container and its children the flex items*/
    display: flex;
    /*Get rid of default list styles*/
    padding: .5em;
    list-style-type: none;
    background-color: #5f4b44;
    border-radius: .2em;
}

/*Overrides the lobotomized owl top margin*/
.site-nav > li {
    margin-top: 0;
}

/*Removes the underline from link text in the user agent*/
.site-nav > li > a {
    display: block;
    padding: .5em 1em;
    background-color: #cc6b5a;
    color: white;
    text-decoration: none;
}

/*Targets every list item that follows another list item (that is, all but the first*/
.site-nav > li + li {
    margin-left: 1.5em;
}

/*Auto margins will fill the available space in flexbox*/
.site-nav > .nav-right {
    margin-left: auto;
}
/*Adds background color to three tiles and padding*/
.tile {
    padding: 1.5em;
    background-color: #fff;
}
/*Applies a flexbox layout to the main container*/
.flex {
    display: flex;
    

}

/*Removes top margin and creates space around the flex items*/
.flex > * + * {
    margin-top: 0;
    margin: 1.5em;
}